<div class="container">
    <div class="text-center">
        <h2 class="mt-3 mb-1">
            Spulentypen
        </h2>
        <app-generic-list 
        [keysAsColumns]="keysAsColumns"
        [isSelector]="isCoilSelector"
        [newElementButtonLabel]="'Neuer Spulentyp'"
        [disableButtonInMonteurMode]="true"
        (onElementClick)="openCoiltype($event)"
        (hoveringElement)="updateHoveredCoiltype($event)" />
    </div>
</div>

@if (hoveredCoiltype !== null && mousePosition !== null) {
    <div class="hover-tooltip" [ngStyle]="{
        'top.px': mousePosition.y,
        'left.px': mousePosition.x,
    }">
        <app-coil-visualization [n]="hoveredCoiltype.schenkel" [size]="256"></app-coil-visualization>
    </div>  
}