<div class="container">
    <div class="row mt-4">
      <div class="col-md-6" *ngFor="let group of groupedProbes; let j = index">
        <div class="card mb-4">
          <div class="card-header">
            Joch {{ j + 1 }}
          </div>
          <div class="card-body p-0">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Width</th>
                  <th>Position</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let probe of group">
                  <td>{{ probe.id }}</td>
                  <td>{{ probe.width }}</td>
                  <td>{{ probe.position }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  