    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink="/home">
            <img src="/assets/logo-white.png" alt="Logo" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (authService.isLoggedIn()) {
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Spule Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle">
                            Spule
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" 
                               routerLink="/coiltype-management" 
                               routerLinkActive="active">
                               Spulentypenverwaltung
                               @if (modeService.isAdminMode()) {
                               <div class="nav-mode-indicator admin-mode">
                               </div>
                               }
                            </a>
                            <a class="dropdown-item" routerLink="/coil-management" routerLinkActive="active">
                                Spulenverwaltung
                                <div class="nav-mode-indicator" 
                                     [class.admin-mode]="modeService.isAdminMode()"
                                     [class.monteur-mode]="modeService.isMonteurMode()"
>
                                </div>
                            </a>
                        </div>
                    </li>
                    
                    <!-- Sonde Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle">
                            Sonde
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" 
                               routerLink="/probe-type-management" 
                               routerLinkActive="active">
                               Sondentypenverwaltung
                               @if (modeService.isAdminMode()) {
                               <div class="nav-mode-indicator admin-mode">
                               </div>
                               }
                            </a>
                            <a class="dropdown-item" routerLink="/probe-management" routerLinkActive="active">
                                Sondenverwaltung
                                <div class="nav-mode-indicator" 
                                     [class.admin-mode]="modeService.isAdminMode()"
                                     [class.monteur-mode]="modeService.isMonteurMode()">
                                </div>
                            </a>
                        </div>
                    </li>
                    
                    <!-- Messung Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle">
                            Messung
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/measurement-settings-list" routerLinkActive="active">
                                Messeinstellungen
                                <div class="nav-mode-indicator" 
                                     [class.admin-mode]="modeService.isAdminMode()"
                                     [class.monteur-mode]="modeService.isMonteurMode()"
>
                                </div>
                            </a>
                            <a class="dropdown-item" routerLink="/measurement-management" routerLinkActive="active">
                                Messungen
                                <div class="nav-mode-indicator" 
                                     [class.admin-mode]="modeService.isAdminMode()"
                                     [class.monteur-mode]="modeService.isMonteurMode()"
>
                                </div>
                            </a>
                        </div>
                    </li>
                    
                    <!-- CSV Import/Export -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/csv-import-export" routerLinkActive="active">
                            CSV Import/Export
                            @if (modeService.isAdminMode()) {
                            <div class="nav-mode-indicator admin-mode">
                            </div>
                            }
                        </a>
                    </li>
                </ul>
            </div>
        }
    </nav>
    <app-global-alerts></app-global-alerts>
<router-outlet></router-outlet>
