services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: TRENCH123
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internalnet

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: trench@4CHIF.com
      PGADMIN_DEFAULT_PASSWORD: TRENCH123
    ports:
      - "8085:80" 
    networks:
      - internalnet

  frontend:
    container_name: nginx_container
    build: ./frontend
    image: asc-visualization:v1
    ports:
      - "4200:80"
    networks:
      - internalnet
    depends_on:
      - backend
      
  backend:
    container_name: backend_container
    build:
      context: ./TrenchAPI
    ports:
      - "5127:5127" 
      - "8080:8080"  # WebSocket Port für ConsoleMQTT
    expose:
      - "5127"
      - "8080"      # WebSocket Port für ConsoleMQTT
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:5127;http://0.0.0.0:8080
      - ConnectionStrings__DevConnection=Host=postgres;Port=5432;Database=postgres;Username=postgres;Password=TRENCH123;
    depends_on:
      - postgres
    networks:
      - internalnet

  filldb:
    container_name: filldb_container
    build:
      context: ./TrenchAPI
      dockerfile: Dockerfile.filldb
    environment:
      - ConnectionStrings__DevConnection=Host=postgres;Port=5432;Database=postgres;Username=postgres;Password=TRENCH123;
    depends_on:
      - postgres
    networks:
      - internalnet
    profiles:
      - tools

volumes:
  postgres_data:

networks:
  internalnet:
    driver: bridge
