services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: TRENCH123
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - internalnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  grafana:
    image: grafana/grafana:10.4.3
    container_name: grafana_container
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_PATHS_PLUGINS=/tmp/grafana-plugins
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internalnet

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: trench@4CHIF.com
      PGADMIN_DEFAULT_PASSWORD: TRENCH123
    ports:
      - "8085:80" 
    networks:
      - internalnet

  frontend:
    container_name: nginx_container
    build: ./frontend
    image: asc-visualization:v1
    ports:
      - "4200:80"
    networks:
      - internalnet
    depends_on:
      - backend
      
  backend:
    container_name: backend_container
    build:
      context: ./TrenchAPI
    ports:
      - "5127:5127" 
      - "8080:8080"  # WebSocket Port für ConsoleMQTT
    expose:
      - "5127"
      - "8080"      # WebSocket Port für ConsoleMQTT
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:5127;http://0.0.0.0:8080
      - ConnectionStrings__DevConnection=Host=postgres;Port=5432;Database=postgres;Username=postgres;Password=TRENCH123;
    volumes:
      - ./TrenchAPI:/src 
      - ./20260112-Dump.csv:/app/20260112-Dump.csv:ro
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internalnet

  filldb:
    container_name: filldb_container
    build:
      context: ./TrenchAPI
      dockerfile: Dockerfile.filldb
    environment:
      - ConnectionStrings__DevConnection=Host=postgres;Port=5432;Database=postgres;Username=postgres;Password=TRENCH123;
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internalnet
    profiles:
      - tools

volumes:
  postgres_data:
  grafana_data:

networks:
  internalnet:
    driver: bridge
