
<div class="row"x>
    <div class="col-7 me-2 ms-2">
        <app-measurement-history />
    </div>
    <div class="col-4 text-center m-5" >
        <div class="mb-5" style="margin-top: 35%;">
            <img src="assets/logo-black.png" alt="Trench Logo" class="img-fluid mb-4" style="max-width: 400px;">
            <h1 class="mb-4">Trench ASC Sensor Visualization</h1>
          </div>

          <div>
            <button class="btn btn-primary col-6 p-2">Messung starten</button>
          </div>
    </div>
</div>
