<div class="container text-center vh-90 d-flex flex-column align-items-center justify-content-center">
  <div class="mb-5 mt-5">
    <img src="/assets/logo-black.png" alt="Trench Logo" class="img-fluid mb-4" style="max-width: 400px;">
    <h1 class="mb-4">Trench ASC Sensor Visualization</h1>
  </div>
   
  <div class="card-container">
    <!-- Card 1 -->
    <div class="card hover-card">
      <div class="card-img-container">
        <img src="/assets/home/spule.png" class="card-img" alt="Spulentypen">
      </div>
      <div class="card-action-top" (click)="navigateToCoilTypeManagement()">
        <span class="action-label">Spulentypenverwaltung</span>
      </div>
      <div class="card-action-bottom" (click)="navigateToCoilManagement()">
        <span class="action-label">Spulenverwaltung</span>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card hover-card">
      <div class="card-img-container">
        <img src="/assets/home/sonde.png" class="card-img" alt="Sondentypen">
      </div>
      <div class="card-action-top" (click)="navigateToProbeTypeManagement()">
        <span class="action-label">Sondentypenverwaltung</span>
      </div>
      <div class="card-action-bottom" (click)="navigateToProbeManagement()">
        <span class="action-label">Sondenverwaltung</span>
      </div>
    </div>
  
    <!-- Card 3 -->
    <div class="card hover-card">
      <div class="card-img-container">
        <img src="/assets/home/messung.png" class="card-img" alt="Messeinstellungen">
      </div>
      <div class="card-action-top" (click)="navigateToMeasurementSettings()">
        <span class="action-label">Messeinstellungen</span>
      </div>
      <div class="card-action-bottom" (click)="navigateToMeasurementManagement()">
        <span class="action-label">Messungen</span>
      </div>
    </div>
  </div>

  <button *ngIf="!isLoginPage" (click)="logout($event)" class="btn btn-danger position-fixed bottom-0 start-0 m-3 shadow">
    Logout
  </button>
</div>