<div class="home-container">
  <img src="/assets/logo-black.png" alt="Trench Logo" class="logo">
  <h1>Trench ASC Sensor Visualization</h1>
  <div class="image-group">
      <div class="image-container" (click)="navigateToCoilTypeManagement()">
        <img src="/assets/tmp-coil.png" alt="Coil Management" class="clickable-image">
        <div class="image-text">Spulentypenverwaltung</div>
      </div>

      <div class="image-container" (click)="navigateToCoilManagement()">
        <img src="/assets/tmp-coil.png" alt="New Feature" class="clickable-image">
        <div class="image-text">Spulenverwaltung</div>
      </div>
      
      <div class="image-container" (click)="navigateToMeasurementManagement()">
        <img src="/assets/tmp-sensor.png" alt="Measurement Management" class="clickable-image">
        <div class="image-text">Messungsverwaltung</div>
      </div>    
  </div>
  <button *ngIf="!isLoginPage" (click)="logout($event)" class="logout-btn">
    Logout
  </button>
</div>
