<div class="container"
    [style.height.px]="size"
    [style.width.px]="size">
    <img
        class="coil-image"
        [src]="svgUrl"
        alt="Coil Visualization"
        (loadstart)="onImageLoadStart()"
        (load)="onImageLoad()"
        (error)="onImageError()"
        [style.width.px]="size"
    />
</div>
@if (!imageLoaded()) {
    @if (!imageLoadError()) {
        <div class="spinner-border" role="status">
        </div>
    }
    @else {
        <div class="alert alert-danger" role="alert">
            Fehler beim Laden des Bildes.
        </div>
    }
}