.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#center-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px dotted red;
    background-color: #ff000080;
    z-index: 1000;
}