<div class="container"
    [style.height.px]="size"
    [style.width.px]="size">
    <img
        class="coil-image"
        [src]="svgUrl"
        alt="Coil Visualization"
        (loadstart)="onImageLoadStart()"
        (load)="onImageLoad()"
        (error)="onImageError()"
        [style.width.px]="size"
        [style.transform]="'rotate('+rotationOffset+'deg) translate('+positionOffset.x*size+'px, '+positionOffset.y*size+'px)'"
    />

    <!--
    <div id="center-dot"></div>
    -->
</div>
@if (!imageLoaded()) {
    @if (!imageLoadError()) {
        <div class="spinner-border" role="status">
        </div>
    }
    @else {
        <div class="alert alert-danger" role="alert">
            Fehler beim Laden des Bildes.
        </div>
    }
}