<div class="scrollable-list">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                @for (elementKey of elementKeys; track $index) {
                    @if (keysAsColumns[elementKey] !== undefined) {
                        <th (click)="sortTable(elementKey)">{{keysAsColumns[elementKey]}}</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @for (element of sortedElements; track $index) {
                <tr class="clickable-row" 
                (click)="onElementClick.emit(element)" 
                (mouseenter)="onElementHoverStart(element)"
                (mouseleave)="onElementHoverEnd(element)">
                    @for (elementKey of elementKeys; track $index) {
                        <td scope="row">{{ getElementValue(element, elementKey) }}</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@if (!isSelector) {
    <button class="btn btn-primary new-coil-button" id="new-element-button" (click)="addNewElement()">{{newElementButtonLabel}}</button>
}
