<div class="container">
    <app-generic-list 
    [keysAsColumns]="keysAsColumns"
    [isSelector]="isCoilSelector"
    [newElementButtonLabel]="'Neuer Spulentyp'"
    (onElementClick)="openCoiltype($event)"
    (hoveringElement)="updateHoveredCoiltype($event)" />
</div>

@if (hoveredCoiltype !== null && mousePosition !== null) {
    <div class="hover-tooltip" [ngStyle]="{
        'top.px': mousePosition.y,
        'left.px': mousePosition.x,
    }">
        <app-coil-visualization [n]="hoveredCoiltype.schenkel" [bb]="hoveredCoiltype.bandbreite!" [dm]="hoveredCoiltype.durchmesser!" [size]="256"></app-coil-visualization>
    </div>  
}