.clickable-row {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.scrollable-list {
    flex-grow: 1; 
    max-height: 79%; 
    width: 100%; 
    overflow-y: auto; 
    margin-bottom: 20px; 

    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 5px;
}

.new-coil-button {
    position: relative;
    margin-top: auto; 
    align-self: center; 
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 0px;
    overflow: hidden;
    text-align: left;

    th:first-child {
        border-top-left-radius: 5px; 
      }
      
      th:last-child {
        border-top-right-radius: 5px;
      }

    th, td {
        padding: 10px; 
        text-align: center;
        border: 1px solid #ddd; 
    }

    th {
        background-color: #ffffff; /* Hintergrund für die Kopfzeile */
        cursor: pointer;
    }

    tr:hover {
        background-color: #f1f1f1;
    }
}

.hover-tooltip {
    position: absolute;
    background-color: #c0c0c080;
    color: #fff;
    margin: 5px;
    border-radius: 10px;
    pointer-events: none;
    z-index: 1000;

    transform: scale(0.5);
    transform-origin: top left;
}