.tolerance {
    width: 100px;
    height: 100px; 

    &.bad {
        background-color: red;
    }
    &.medium {
        background-color: orange;
    }
    &.good {
        background-color: lime;
    }
}

.measurements-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.measurement-box {
  flex: 1;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 8px;
  text-align: center;
  color: black;
  
  h3 {
    margin-bottom: 0.5rem;
  }
}
