@if (yokeData().length === 0) {
  <div class="alert alert-danger mt-3">
    <strong>Fehler:</strong> Keine Daten zur Ausrichtungsvisualisierung vorhanden.
  </div>
}
@else {
  <div class="row">
    <!-- Visualization -->
    <div class="col-8" id="visualization-container"
      [style.height.px]="size" [style.width.px]="size">
      <svg
        width="1024"
        height="1024"
        viewBox="0 0 24 24"
        fill="none"
        [attr.transform]="'rotate('+rotationOffset+')'"
      >
        <g [attr.transform]="'translate('+internalTranslationOffset+', '+internalTranslationOffset+') scale('+size/512+')'">
          <!-- Background circle -->
          <g opacity="0.25">
            <circle cx="12" cy="12" r="6" fill="white" />
          </g>

          <g [attr.transform]="">
            <!-- Tolerance background -->
            <g>
              <mask id="circle-mask">
                <!-- The larger circle is filled with white (visible) -->
                <rect width="100%" height="100%" fill="white" />
                <!-- The smaller circle is filled with black (invisible) -->
                <circle cx="12" cy="12" [attr.r]="toleranceCircleRadius" fill="black" />
              </mask>
              <circle cx="12" cy="12" r="6" fill="red" mask="url(#circle-mask)" 
                [attr.fill-opacity]="isWithinTolerance ? '0.0625' : '0.25'"
              />

              <circle cx="12" cy="12" [attr.r]="toleranceCircleRadius" fill="lime"
              [attr.fill-opacity]="isWithinTolerance ? '0.25' : '0.0625'"  
              />
            </g>

            <!-- Tolerance circle -->
            <g (mouseenter)="onResultArrowMouseEnter()" (mouseleave)="onArrowMouseLeave()">
              <circle cx="12" cy="12" [attr.r]="finalVector.length / averageLength * 6" 
              fill="none" 
              [attr.stroke]="toleranceColor" 
              [attr.stroke-width]="isHoveringOverResultArrow() ? '0.125' : '0.0625'"
              />
            </g>

            <g (mouseenter)="onBorderMouseEnter()" (mouseleave)="onBorderMouseLeave()">
              <!-- Border circle -->
              <circle cx="12" cy="12" r="6" 
              fill="none" 
              stroke="#000000" 
              [attr.stroke-width]="isHoveringOverBorder ? '0.25' : '0.125'"
              [attr.stroke-opacity]="isHoveringOverBorder ? '1' : '0.5'"
              stroke-dasharray="0.125,0.125" 
              />

              <!-- Border circle hitbox -->
              <circle cx="12" cy="12" r="6"
              stroke="transparent"
              stroke-width="0.25"
              />
            </g>

            <g opacity="0.75">
              <!-- Vectors -->
              @for (branch of calcResults; track calcResults; let branchIndex = $index) {
                @for (vector of branch; track calcResults; let vectorIndex = $index) {
                  <g 
                    transform="translate(12, 12)"
                    (mouseenter)="onArrowMouseEnter(branchIndex, vectorIndex)" (mouseleave)="onArrowMouseLeave()"
                  >
                    <!-- Arrow body -->
                    <line
                      x1="0"
                      y1="0"
                      [attr.x2]="scaledBranchResultX(vector, isHoveringOverArrow(branchIndex, vectorIndex) ? -0.125 : -0.0625)"
                      [attr.y2]="scaledBranchResultY(vector, isHoveringOverArrow(branchIndex, vectorIndex) ? -0.125 : -0.0625)"
                      [attr.stroke]="getArrowColor(branchIndex)"
                      [attr.stroke-width]="isHoveringOverArrow(branchIndex, vectorIndex) ? '0.125' : '0.0625'"
                      [attr.stroke-opacity]="isHoveringOverArrow(branchIndex, vectorIndex) ? '1' : '0.75'"
                    /> <!-- [attr.stroke-dasharray]="hoveredArrow === $index ? '0' : '0.0625,0.0625'" --> 

                    <!-- Arrow triangle -->
                    <polygon
                      points="0.125,0 0,-0.0625 0,0.0625"
                      [attr.fill]="getArrowColor(branchIndex)"
                      [attr.transform]="'translate('
                        +scaledBranchResultX(vector, isHoveringOverArrow(branchIndex, vectorIndex) ? -0.125 : -0.0625)+', '
                        +scaledBranchResultY(vector, isHoveringOverArrow(branchIndex, vectorIndex) ? -0.125 : -0.0625)
                        +') rotate('+(vector.angle * radToDeg)+') scale('+(isHoveringOverArrow(branchIndex, vectorIndex) ? '1.5' : '1')+')'"
                      [attr.fill-opacity]="isHoveringOverArrow(branchIndex, vectorIndex) ? '1' : '0.75'"
                      />

                    <!-- Arrow hitbox -->
                    <line
                      x1="0"
                      y1="0"
                      [attr.x2]="scaledBranchResultX(vector, 0)"
                      [attr.y2]="scaledBranchResultY(vector, 0)"
                      stroke="transparent"
                      stroke-width="0.125"
                    /> 
                  </g>
                }
              }

              <!-- Yoke vectors -->
              @for (yokeVector of yokeVectors; track calcResults; let yokeVectorIndex = $index) {
                <g 
                transform="translate(12, 12)"
                (mouseenter)="onYokeArrowMouseEnter(yokeVectorIndex)" (mouseleave)="onArrowMouseLeave()"
                >
                @if (yokeVector.length / averageLength > 0.01) {
                  <!-- Arrow body -->
                  @if (yokeVector.length / averageLength >= 0.03) {
                    <line
                      x1="0"
                      y1="0"
                      [attr.x2]="scaledBranchResultX(yokeVector, isHoveringOverYokeArrow(yokeVectorIndex) ? -0.25 : -0.125)"
                      [attr.y2]="scaledBranchResultY(yokeVector, isHoveringOverYokeArrow(yokeVectorIndex) ? -0.25 : -0.125)"
                      [attr.stroke-width]="isHoveringOverYokeArrow(yokeVectorIndex) ? '0.25' : '0.125'"
                      [attr.stroke]="getArrowColor(yokeVectorIndex)"
                    />
                  }

                  <!-- Arrow triangle -->
                  <polygon
                    [attr.points]="(yokeVector.length / averageLength >= 0.05 || isHoveringOverYokeArrow(yokeVectorIndex)) ? '0.25,0 0,-0.125 0,0.125' : '0.25,0 0,-0.0625 0,0.0625'"
                    [attr.fill]="getArrowColor(yokeVectorIndex)"
                    [attr.transform]="'translate('
                    +scaledBranchResultX(yokeVector, isHoveringOverYokeArrow(yokeVectorIndex) && yokeVector.length / averageLength >= 0.05 ? -0.25 : -0.125)+', '
                    +scaledBranchResultY(yokeVector, isHoveringOverYokeArrow(yokeVectorIndex) && yokeVector.length / averageLength >= 0.05 ? -0.25 : -0.125)
                    +') rotate('+(yokeVector.angle * radToDeg)
                    +') scale('+(isHoveringOverYokeArrow(yokeVectorIndex) && yokeVector.length / averageLength >= 0.05 ? '1.5' : '1')+')'"
                    />
                  }
                </g>
              }
            </g>

            <!-- Final vector -->
            <g 
            transform="translate(12, 12)"
            (mouseenter)="onResultArrowMouseEnter()" (mouseleave)="onArrowMouseLeave()"
            >
            @if (finalVector.length / averageLength > 0.01) {
              <!-- Arrow body -->
              @if (finalVector.length / averageLength >= 0.03) {
                <line
                  x1="0"
                  y1="0"
                  [attr.x2]="scaledBranchResultX(finalVector, isHoveringOverResultArrow() ? -0.25 : -0.125)"
                  [attr.y2]="scaledBranchResultY(finalVector, isHoveringOverResultArrow() ? -0.25 : -0.125)"
                  [attr.stroke-width]="isHoveringOverResultArrow() ? '0.25' : '0.125'"
                  stroke="black"
                />
              }

              <!-- Arrow triangle -->
              <polygon
                [attr.points]="(finalVector.length / averageLength >= 0.05 || isHoveringOverResultArrow()) ? '0.25,0 0,-0.125 0,0.125' : '0.25,0 0,-0.0625 0,0.0625'"
                fill="black"
                [attr.transform]="'translate('
                +scaledBranchResultX(finalVector, isHoveringOverResultArrow() && finalVector.length / averageLength >= 0.05 ? -0.25 : -0.125)+', '
                +scaledBranchResultY(finalVector, isHoveringOverResultArrow() && finalVector.length / averageLength >= 0.05 ? -0.25 : -0.125)
                +') rotate('+(finalVector.angle * radToDeg)
                +') scale('+(isHoveringOverResultArrow() && finalVector.length / averageLength >= 0.05 ? '1.5' : '1')+')'"
                />
              }
            
              <!-- Center circle -->
              <circle cx="0" cy="0" [attr.r]="isHoveringOverResultArrow() ? '0.125' : '0.0625'" fill="black" />
            </g>
          </g>
        </g>
      </svg>

      <app-coil-visualization
        [n]="coiltype.schenkel"
        [size]="size"
      ></app-coil-visualization>
    </div>
    
    <!-- Visualization magnification -->
    <div class="col-4" id="magnification-container"
      [style.height.px]="size" [style.width.px]="size">
        <svg
          width="512"
          height="512"
          viewBox="0 0 24 24"
          fill="none"
          [attr.transform]="'rotate('+rotationOffset+')'"
        >
        <g [attr.transform]="'translate('+internalTranslationOffset+', '+internalTranslationOffset+') scale('+size/512+')'">
          <!-- Tolerance background -->
          <g>
            <mask id="tolerance-circle-mask">
              <!-- The larger circle is filled with white (visible) -->
              <rect width="100%" height="100%" fill="white" />
              <!-- The smaller circle is filled with black (invisible) -->
              <circle cx="12" cy="12" [attr.r]="toleranceCircleRadius * toleranceMagnificationAmount" fill="black" />
            </mask>
            <circle cx="12" cy="12" r="6" fill="red" mask="url(#tolerance-circle-mask)" 
              [attr.fill-opacity]="isWithinTolerance ? '0.0625' : '0.25'"
            />

            <circle cx="12" cy="12" [attr.r]="toleranceCircleRadius * toleranceMagnificationAmount" fill="lime"
            [attr.fill-opacity]="isWithinTolerance ? '0.25' : '0.0625'"  
            />
          </g>

          
          <!-- Yoke vectors -->
          @for (yokePosition of generalYokePositions; track calcResults; let yokeVectorIndex = $index) {
            <g 
            transform="translate(12, 12)"
            (mouseenter)="onYokeArrowMouseEnter(yokeVectorIndex)" (mouseleave)="onArrowMouseLeave()"
            >
              <line
                x1="0"
                y1="0"
                [attr.x2]="yokePosition.x * 6"
                [attr.y2]="yokePosition.y * 6"
                [attr.stroke-width]="isHoveringOverYokeArrow(yokeVectorIndex) ? '0.5' : '0.25'"
                [attr.stroke]="getArrowColor(yokeVectorIndex)"
                stroke-opacity="0.5"
                stroke-dasharray="0.125,0.125"
              />

              <!-- Hitbox -->
              <line
                x1="0"
                y1="0"
                [attr.x2]="yokePosition.x * 6"
                [attr.y2]="yokePosition.y * 6"
                stroke="transparent"
                [attr.stroke-width]="isHoveringOverYokeArrow(yokeVectorIndex) ? '0.5' : '0.25'"
              />
            </g>
          }

          <!-- Tolerance circle -->
          <g (mouseenter)="onResultArrowMouseEnter()" (mouseleave)="onArrowMouseLeave()">
            <circle cx="12" cy="12" [attr.r]="(finalVector.length / averageLength * 6) * toleranceMagnificationAmount" 
            fill="none" 
            [attr.stroke]="toleranceColor" 
            [attr.stroke-width]="isHoveringOverResultArrow() ? '0.25' : '0.125'"
            />
          </g>

          <!-- Border circle -->
          <circle cx="12" cy="12" r="6" 
                fill="none" 
                stroke="#000000" 
                stroke-width="0.125"
                stroke-opacity="0.5"
                stroke-dasharray="0.125,0.125" 
          />

          <!-- Final vector -->
          <g  
            transform="translate(12, 12)"
            (mouseenter)="onResultArrowMouseEnter()" (mouseleave)="onArrowMouseLeave()"
            >
            <!-- TODO: Improve for small displacements -->
            @if ((finalVector.length / averageLength) * toleranceMagnificationAmount > 0.05) {
              <!-- Arrow body -->
              @if ((finalVector.length / averageLength) * toleranceMagnificationAmount >= 0.03) {
                <line
                  x1="0"
                  y1="0"
                  [attr.x2]="scaledBranchResultX(multiplyVectorByScalar(finalVector, toleranceMagnificationAmount), isHoveringOverResultArrow() ? -0.625 : -0.375)"
                  [attr.y2]="scaledBranchResultY(multiplyVectorByScalar(finalVector, toleranceMagnificationAmount), isHoveringOverResultArrow() ? -0.625 : -0.375)"
                  [attr.stroke-width]="isHoveringOverResultArrow() ? '0.5' : '0.25'"
                  stroke="black"
                />
              }

              <!-- Arrow triangle -->
              <polygon
                [attr.points]="((finalVector.length / averageLength) * toleranceMagnificationAmount >= 0.05 || isHoveringOverResultArrow()) ? '0.5,0 0,-0.25 0,0.25' : '0.5,0 0,-0.125 0,0.125'"
                fill="black"
                [attr.transform]="'translate('
                +scaledBranchResultX(multiplyVectorByScalar(finalVector, toleranceMagnificationAmount), isHoveringOverResultArrow() && (finalVector.length / averageLength) * toleranceMagnificationAmount >= 0.05 ? -0.625 : -0.375)+', '
                +scaledBranchResultY(multiplyVectorByScalar(finalVector, toleranceMagnificationAmount), isHoveringOverResultArrow() && (finalVector.length / averageLength) * toleranceMagnificationAmount >= 0.05 ? -0.625 : -0.375)
                +') rotate('+(finalVector.angle * radToDeg)
                +') scale('+(isHoveringOverResultArrow() && (finalVector.length * toleranceMagnificationAmount) / averageLength >= 0.05 ? '1.5' : '1')+')'"
                />
              }
            
              <!-- Center circle -->
              <circle cx="0" cy="0" [attr.r]="isHoveringOverResultArrow() ? '0.25' : '0.125'" fill="black" />
          </g>
        </g>
      </svg>
    </div>
  </div>

  <!-- Tooltip for hovered arrows -->
  @if (mousePosition !== null && (hoveredArrow !== null || isHoveringOverBorder)) {
    <div class="hover-tooltip" [ngStyle]="{
        'top.px': mousePosition.y,
        'left.px': mousePosition.x,
    }">
      @if (hoveredArrow !== null) {
        @if (hoveredArrow.branchIndex === -1 && hoveredArrow.sensorIndex === -1) {
          <ul>
            <li>
              <strong>Ergebnisvektor</strong>
            </li>
            <li>
              <strong>Absolutwert der Summenkraft</strong>: {{ m_tot() | number: '1.2-2' }}kg
            </li>
            <li>
              <strong>Toleranzbereich</strong>: {{ coiltype.toleranzbereich | number: '1.2-2' }}kg
            </li>
            <li>
              <strong>In der Toleranz</strong>: <span [ngClass]="{ 'text-success': isWithinTolerance, 'text-danger': !isWithinTolerance }">{{ isWithinTolerance ? 'Ja' : 'Nein' }}</span>
            </li>
            <li>
              <strong>Kraft</strong> (Vektorlänge): {{ finalVector.length | number: '1.2-2' }}N
            </li>
            <li>
              <strong>Winkel</strong>: {{ finalVector.angle * radToDeg | number: '1.2-2' }}°
            </li>
            <li>
              <strong>x</strong>: {{ finalVector.x | number: '1.2-2' }}
            </li>
            <li>
              <strong>y</strong>: {{ finalVector.y | number: '1.2-2' }}
            </li>
          </ul>
        }
        @else if (hoveredArrow.branchIndex !== -1 && hoveredArrow.sensorIndex === -1) {
          <ul>
            <li>
              <strong>Schenkelvektor</strong>: Schenkel #{{ hoveredArrow.branchIndex + 1 }}
            </li>
            <li>
              <strong>Kraft</strong> (Vektorlänge): {{ yokeVectors[hoveredArrow.branchIndex].length | number: '1.2-2' }}N
            </li>
            <li>
              <strong>Winkel</strong>: {{ yokeVectors[hoveredArrow.branchIndex].angle * radToDeg | number: '1.2-2' }}°
            </li>
            <li>
              <strong>x</strong>: {{ yokeVectors[hoveredArrow.branchIndex].x | number: '1.2-2' }}
            </li>
            <li>
              <strong>y</strong>: {{ yokeVectors[hoveredArrow.branchIndex].y | number: '1.2-2' }}
            </li>
          </ul>
        }
        @else {
          <ul>
            <li>
              <strong>Schenkel</strong>: Schenkel #{{ hoveredArrow.branchIndex + 1 }}
            </li>
            <li>
              <strong>Sensor</strong>: Sensor #{{ hoveredArrow.sensorIndex + 1 }}
            </li>
            <li>
              <strong>Kraft</strong> (Vektorlänge): {{ calcResults[hoveredArrow.branchIndex][hoveredArrow.sensorIndex].length | number: '1.2-2' }}N
            </li>
            <li>
              <strong>Winkel</strong>: {{ calcResults[hoveredArrow.branchIndex][hoveredArrow.sensorIndex].angle * radToDeg | number: '1.2-2' }}°
            </li>
            <li>
              <strong>x</strong>: {{ calcResults[hoveredArrow.branchIndex][hoveredArrow.sensorIndex].x | number: '1.2-2' }}
            </li>
            <li>
              <strong>y</strong>: {{ calcResults[hoveredArrow.branchIndex][hoveredArrow.sensorIndex].y | number: '1.2-2' }}
            </li>
          </ul>
        }
      }
      @if (isHoveringOverBorder) {
        <p><strong>Rahmenradius</strong> (Durchschnittskraft): {{averageLength | number: '1.2-2'}}N</p>
      }
    </div>  
  }
}