.hover-tooltip {
    position: absolute;
    background-color: #c0c0c0c0;
    color: black;
    margin: 5px;
    padding: 10px;
    padding-bottom: 0px;
    padding-right: 20px;
    border-radius: 10px;
    pointer-events: none;
    z-index: 1000;
}

#visualization-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &>svg {    
        position: absolute;
        z-index: 2;
    }

    &>app-coil-visualization {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        filter: opacity(0.5);
    }
}