<!-- Display the calculated x and y values -->
<div class="results-container">
  <h2>Results</h2>
  <table>
    <thead>
    <tr>
      <th>Branch</th>
      <th>X Value</th>
      <th>Y Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of branchResults; let i = index">
      <td>Branch {{ i + 1 }}</td>
      <td>{{ result.x | number: '1.2-2' }}</td>
      <td>{{ result.y | number: '1.2-2' }}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Display the Final Vector -->
<div class="final-vector-container">
  <h2>Final Vector</h2>
  <p>X: {{ finalVector.x | number: '1.2-2' }}</p>
  <p>Y: {{ finalVector.y | number: '1.2-2' }}</p>
</div>

<!-- Visualization -->

<div id="visualization-container">
  <svg
    width="1024"
    height="1024"
    viewBox="0 0 24 24"
    fill="none"
    [attr.transform]="'rotate('+coilVisualizationRotation+')'"
  >
    <g>
      <g (mouseenter)="onBorderMouseEnter()" (mouseleave)="onBorderMouseLeave()">
        <!-- Border circle -->
        <circle cx="12" cy="12" r="6" 
        fill="none" 
        stroke="#000000" 
        [attr.stroke-width]="isHoveringOverBorder ? '0.125' : '0.0625'"
        [attr.stroke-opacity]="isHoveringOverBorder ? '1' : '0.5'"
        stroke-dasharray="0.0625,0.0625" 
        />

        <!-- Border circle hitbox -->
        <circle cx="12" cy="12" r="6"
        stroke="transparent"
        stroke-width="0.25"
        />
      </g>

      <!-- Vectors -->
      @for (branch of branchResults; track $index) {
        <!-- TODO: The arrow should point towards the actual vector; currently the line goes to the vector, then the triangle goes beyond it -->
        <g 
          transform="translate(12, 12)"
          (mouseenter)="onArrowMouseEnter($index)" (mouseleave)="onArrowMouseLeave($index)"
        >
          <!-- Arrow body -->
          <line
            x1="0"
            y1="0"
            [attr.x2]="scaledBranchResultX(branch, hoveredArrow === $index ? -0.25 : -0.125)"
            [attr.y2]="scaledBranchResultY(branch, hoveredArrow === $index ? -0.25 : -0.125)"
            [attr.stroke]="getArrowColor($index)"
            [attr.stroke-width]="hoveredArrow === $index ? '0.25' : '0.125'"
            [attr.stroke-opacity]="hoveredArrow === $index ? '1' : '0.75'"
          /> <!-- [attr.stroke-dasharray]="hoveredArrow === $index ? '0' : '0.0625,0.0625'" --> 

          <!-- Arrow triangle -->
          <polygon
            points="0.25,0 0,-0.125 0,0.125"
            [attr.fill]="getArrowColor($index)"
            [attr.transform]="'translate('
              +scaledBranchResultX(branch, hoveredArrow === $index ? -0.25 : -0.125)+', '
              +scaledBranchResultY(branch, hoveredArrow === $index ? -0.25 : -0.125)
              +') rotate('+(branch.angle * radToDeg)+') scale('+(hoveredArrow === $index ? '1.5' : '1')+')'"
            [attr.fill-opacity]="hoveredArrow === $index ? '1' : '0.75'"
            />

          <!-- Arrow hitbox -->
          <line
            x1="0"
            y1="0"
            [attr.x2]="scaledBranchResultX(branch, 0)"
            [attr.y2]="scaledBranchResultY(branch, 0)"
            stroke="transparent"
            stroke-width="0.25"
          /> 
        </g>
      }

      <!-- Result vector -->
      <g 
        transform="translate(12, 12)"
        (mouseenter)="onArrowMouseEnter(-1)" (mouseleave)="onArrowMouseLeave(-1)"
        >
        @if (finalVector.length / averageLength > 0.01) {
          <!-- Arrow body -->
          @if (finalVector.length / averageLength >= 0.03) {
            <line
              x1="0"
              y1="0"
              [attr.x2]="scaledBranchResultX(finalVector, hoveredArrow === -1 ? -0.25 : -0.125)"
              [attr.y2]="scaledBranchResultY(finalVector, hoveredArrow === -1 ? -0.25 : -0.125)"
              [attr.stroke-width]="hoveredArrow === -1 ? '0.25' : '0.125'"
              stroke="black"
            />
          }

          <!-- Arrow triangle -->
          <polygon
            [attr.points]="(finalVector.length / averageLength >= 0.05 || hoveredArrow === -1) ? '0.25,0 0,-0.125 0,0.125' : '0.25,0 0,-0.0625 0,0.0625'"
            fill="black"
            [attr.transform]="'translate('
            +scaledBranchResultX(finalVector, hoveredArrow === -1 && finalVector.length / averageLength >= 0.05 ? -0.25 : -0.125)+', '
            +scaledBranchResultY(finalVector, hoveredArrow === -1 && finalVector.length / averageLength >= 0.05 ? -0.25 : -0.125)
            +') rotate('+(finalVector.angle * radToDeg)
            +') scale('+(hoveredArrow === -1 && finalVector.length / averageLength >= 0.05 ? '1.5' : '1')+')'"
            />
          }
        
          <!-- Center circle -->
          <circle cx="0" cy="0" [attr.r]="hoveredArrow === -1 ? '0.125' : '0.0625'" fill="black" />
      </g>
    </g>
  </svg>

  <app-coil-visualization
    [n]="yokes().length"
    [size]="coilVisualizationSize"
    [style.left.px]="coilVisualizationOffset.x"
    [style.top.px]="coilVisualizationOffset.y"
  ></app-coil-visualization>
</div>

@if (mousePosition !== null && (hoveredArrow !== null || isHoveringOverBorder)) {
  <div class="hover-tooltip" [ngStyle]="{
      'top.px': mousePosition.y,
      'left.px': mousePosition.x,
  }">
    @if (hoveredArrow !== null) {
      <ul>
        <li>
          <strong>Branch</strong>: {{ (hoveredArrow === -1 ? 'Final Vector' : 'Branch ' + (hoveredArrow + 1)) }}
        </li>
        <li>
          <strong>x</strong>: {{ (hoveredArrow === -1 ? finalVector.x : branchResults[hoveredArrow].x) | number: '1.2-2' }}
        </li>
        <li>
          <strong>y</strong>: {{ (hoveredArrow === -1 ? finalVector.y : branchResults[hoveredArrow].y) | number: '1.2-2' }}
        </li>
        <li>
          <strong>Length</strong>: {{ (hoveredArrow === -1 ? finalVector.length : branchResults[hoveredArrow].length ) | number: '1.2-2' }}
        </li>
        <li>
          <strong>Difference from average</strong>: {{ ((hoveredArrow === -1 ? finalVector.length : branchResults[hoveredArrow].length) - averageLength) | number: '1.2-2' }}
        </li>
        <li>
          <strong>Angle</strong>: {{ (hoveredArrow === -1 ? finalVector.angle : branchResults[hoveredArrow].angle)*radToDeg | number: '1.2-2' }}°
        </li>
      </ul>
    }
    @if (isHoveringOverBorder) {
      <p><strong>Border radius</strong> (average length): {{averageLength | number: '1.2-2'}}</p>
    }
  </div>  
}