.hover-tooltip {
    position: fixed; /* use viewport-fixed positioning to avoid ancestor offset issues */
    background-color: rgba(192,192,192,0.9);
    color: black;
    margin: 5px;
    padding: 10px;
    padding-bottom: 0px;
    padding-right: 20px;
    border-radius: 10px;
    pointer-events: none;
    z-index: 2000;
    max-width: 320px;
}

#visualization-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &>svg {    
        position: absolute;
        z-index: 2;
    }

    &>app-coil-visualization {
        position: absolute;
        z-index: 1;
        pointer-events: none;
        filter: opacity(0.5);
    }
}
#magnification-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &>svg {    
        position: absolute;
        z-index: 2;
    }
}