# Ignore all .git folders
.git/

# Ignore all bin and obj folders
**/[b|B]in/**/[O|o]bj/

# Ignore test results
**/TestResults/

# Ignore node_modules
node_modules/

# Ignore .env file
.env

# Ignore .gitignore
.gitignore