bin/
obj/
*.user
*.suo
*.csproj.user
*.sln.cache
*.log
*.pdb
*.mdb
*.tmp
*.swp
*.bak
.vscode/
.idea/
*.code-workspace
.git/
.gitignore
node_modules/
wwwroot/lib/
appsettings.Development.json
appsettings.Local.json
secrets.json
*.env
Dockerfile*
.dockerignore
.DS_Store
Thumbs.db
