.container {
    display: flex;
    height: calc(100vh - 80px);
}
  
.left-panel, .right-panel {
    flex: 1; 
    background-color: #f0f0f0;
    padding: 20px;
}
  
.center-panel {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}
  
img {
    width: 80%;
    height: auto;
}
  
.numberSelectorComboBox {
    margin-left: 5%;
    min-width: 25%;
}
