.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    min-width: 100%;
  }
  
  .left-panel, .center-panel, .right-panel {
    flex: 1;
    padding-inline: 20px;
    padding-top: 1%;
  }
  
  .left-panel, .right-panel {
    background-color: rgba(159, 159, 159, 0.333);
    height: calc(100vh - 120px);
    max-width: 25%;
    border-radius: 15px;
  }

  .center-panel {
    display: flex; /* Aktiviert Flexbox */
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    height: 100%; /* Stellt sicher, dass das Panel den gesamten verfügbaren Platz einnimmt */
    align-content: center; /* Optional, unterstützt das Zentrieren */
}

  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
  }
  
  span {
    display: block;
    font-size: 14px;
    text-align: right;
  }
  
  img {
    max-width: 80%;
    height: auto;
  }
  