<div class="coil-container">
  <select *ngIf="coilsService.coils.length > 0" class="selectedCoilCombobox" id="coilSelect"
      [(ngModel)]="selectedCoilId"
      (ngModelChange)="onSelectedCoilChange($event)">
      <option *ngFor="let coil of coilsService.coils" [value]="coil.id">{{ coil.name }}</option>
  </select>
  <button class="btn btn-primary new-coil-button" (click)="addNewCoil()">Neue Spule</button>
</div>

<div class="container" *ngIf="selectedCoilId !== null">
  <div class="left-panel">
    <div class="input-container">
      <label for="nameInput">Magnetkreisname:</label>
      <input type="text" id="nameInput" placeholder="Spulenname eingeben" [(ngModel)]="name">

      <label for="yokesCountSelect">Schenkelanzahl:</label>
      <select class="yokesCountCombobox" id="numberSelect" [(ngModel)]="yokesCount">
        <option [value]="2">2</option>
        <option [value]="3">3</option>
        <option [value]="4">4</option>
      </select>

      <label for="diameterInput">Durchmesser (mm):</label>
      <input type="number" id="diameterInput" placeholder="Durchmesser in mm" [(ngModel)]="diameter" min="0">

      <label for="arcLengthInput">Bogenlänge (mm):</label>
      <input type="number" id="arcLengthInput" placeholder="Bogenlänge in mm" [(ngModel)]="arcLength" min="0">

      <label for="endAreaInput">Stirnfläche (cm²):</label>
      <input type="number" id="endAreaInput" placeholder="Stirnfläche in cm²" [(ngModel)]="endArea" min="0">

      <label for="toleranceRange">Zulässige Toleranz: {{tolerance}} </label>
      <input type="range" id="toleranceRange" min="0" max="10000" step="50" [(ngModel)]="tolerance" min="0">

      <div class="buttonContainer">
        <button class="saveButton" (click)="saveChanges()">Speichern</button>
      </div>
    </div>
  </div>

  <div class="center-panel">
    <img [src]="getSvgPath()" alt="Spule SVG" />
  </div>

  <div class="right-panel">
    <p>Messondenverwaltung</p>
  </div>
</div>
<div class="container no-coil-selected" *ngIf="selectedCoilId === null">
  <p>Bitte wählen Sie eine Spule aus.</p>
</div>