<div class="row mt-5 justify-content-center">
    <div class="col-5">
        <h2 class="text-center">Messsondentypen Verwaltung</h2>
        <div class="row">
            <!-- Eingabefelder -->
            <div class="col-md-12 mt-5">
                <div class="mb-3">
                    <label for="hoehe" class="form-label">Höhe (mm)</label>
                    <input id="hoehe" type="number" class="form-control" [(ngModel)]="hoehe">
                </div>
                <div class="mb-3">
                    <label for="breite" class="form-label">Breite (mm)</label>
                    <input id="breite" type="number" class="form-control" [(ngModel)]="breite">
                </div>
                <div class="mb-3">
                    <label for="wicklungszahl" class="form-label">Wicklungszahl</label>
                    <input id="wicklungszahl" type="number" class="form-control" [(ngModel)]="wicklungszahl">
                </div>
            </div>
        </div>
    </div>
</div>