<div class="container">
    <h2 class="mt-3 mb-1 text-center">
        Sonden
    </h2>

    @if (hasLoadedElementIdsToIgnore) {
        @if (noProbesMessage) {
            <div class="alert alert-warning mt-3" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                {{ noProbesMessage }}
            </div>
        }
        
        <app-generic-list 
        [keysAsColumns]="keysAsColumns"
        [elementValueToStringMethods]="elementValueToStringMethods"
        [elementIdsToIgnore]="elementIdsToIgnore"
        [newElementButtonLabel]="'Neue Sonde'"
        [isSelector]="probesService.isProbeSelector"
        (cancelSelection)="handleBack()"
        (onElementClick)="openProbe($event)" />
    }
</div>