<div class="coil-container">
  <select *ngIf="coilsService.coils.length > 0" id="coilSelect" 
    [(ngModel)]="selectedCoilId" (ngModelChange)="onCoilSelectionChange($event)">
    <option *ngFor="let coil of coilsService.coils" [value]="coil.id">Spule #{{ coil.id }}</option>
  </select>
  <button class="btn btn-primary new-coil-button" id="new-coil-button" (click)="addNewCoil()">Neue Spule</button>
</div>

<div class="container">
  <div class="panel" *ngIf="selectedCoil !== null">
    <div class="input-container">
      <div class="dropdown-container">

        <label for="coilType">Spulentyp:</label>
        <div
          class="dropdown-selected "
          [class.open]="showCoiltypeDropdown"
          (click)="toggleCoiltypeDropdown()">
          {{ getCoiltypeName() || 'Spulentyp auswählen' }}
        </div>
        
        <div
          class="dropdown-table"
          *ngIf="showCoiltypeDropdown">
          <div class="table-container">
            <table class="table table-striped table-hover">
              <thead style="cursor: pointer;">
                <tr>
                  <th (click)="sortTable('id')">Spulentyp</th>
                  <th (click)="sortTable('tK_Name')">Name</th>
                  <th (click)="sortTable('schenkel')">Schenkelanzahl</th>
                  <th (click)="sortTable('bb')">Bandbreite</th>
                  <th (click)="sortTable('sh')">Schichthöhe</th>
                  <th (click)="sortTable('dm')">Durchmesser</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let coiltype of coiltypesService.coiltypes" 
                    (click)="selectCoiltype(coiltype.id!)"
                    class="clickable-row">
                  <td>Spulentyp #{{ coiltype.id }}</td>
                  <td>{{ coiltype.tK_Name }}</td>
                  <td>{{ coiltype.schenkel }}</td>
                  <td>{{ coiltype.bb }}</td>
                  <td>{{ coiltype.sh }}</td>
                  <td>{{ coiltype.dm }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <label for="arcLengthInput">Auftrags-Nummer:</label>
      <input type="number"
             class="form-control inputField"
             id="auftragsNr"
             placeholder="Auftrags-Nummer"
             [(ngModel)]="selectedCoil.auftragsnummer"
             min="0">

      <label for="endAreaInput">AuftragsPosNr</label>
      <input type="number"
             class="form-control inputField"
             id="auftragsPosNr"
             placeholder="AuftragsPosNr"
             [(ngModel)]="selectedCoil.auftragsPosNr"
             min="0">
             
      <label for="nameInput">UR:</label>
      <input type="text"
             class="form-control inputField"
             id="ur"
             placeholder="UR eingeben"
             [(ngModel)]="selectedCoil.ur">

      <label for="diameterInput">Einheit:</label>
      <input type="number"
             class="form-control inputField"
             id="einheit"
             placeholder="Einheit"
             [(ngModel)]="selectedCoil.einheit"
             min="0">

      <label for="endAreaInput">Omega</label>
      <input type="number"
             class="form-control inputField"
             id="omega"
             placeholder="Omega"
             [(ngModel)]="selectedCoil.omega"
             min="0">
    </div>

    <!--<app-measuring-probe-measurement *ngIf=""/>-->

    <div class="container">
      <div class="input-container">
        <div class="buttonContainer">
          <div class="buttons-row">
            <button class="btn btn-primary" (click)="saveChanges()">Speichern</button>
            <button class="btn btn-secondary" (click)="backToListing()">Zurück</button>
            <button class="btn btn-outline-danger" (click)="openDeleteModal()">Spule Löschen</button>
          </div>
          <div class="saveMessage" *ngIf="saveMessage">
            {{saveMessage}}
          </div>
        </div>
      </div>
    </div>
  </div> 

  <div *ngIf="selectedCoil === null">
    <span class="text-danger">
      Fehler: Spule konnte nicht geladen werden. 
    </span>
  </div>
</div> 

<div class="container no-coil-selected" *ngIf="coilsService.selectedCoilCopy === null">
  <p>Bitte wählen Sie eine Spule aus.</p>
</div>

<!-- Bestätigungs-Modal -->
<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': showDeleteModal}"
  [ngStyle]="{'display': showDeleteModal ? 'block' : 'none'}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Spule löschen?</h5>
      </div>

      <div class="modal-body">
        <p>Sind Sie sicher, dass Sie diese Spule löschen möchten?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="showDeleteModal = false">
          Abbrechen
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteCoil()">
          Löschen
        </button>
      </div>
    </div>
  </div>
</div>
