.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(50vh - 220px);      
  padding: 20px;
}

.panel {
  display: flex;
  flex-direction: column;
  background-color: rgba(159, 159, 159, 0.333);
  border-radius: 15px;
  padding: 20px;
  max-width: 850px;       
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.coil-container {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;

  #coilSelect {
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
  }

  #new-coil-button {
    padding: 5px 100px;
    white-space: nowrap;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}


.buttons-row {
  display: flex;
  gap: 10px;
}


.no-coil-selected {
  font-style: italic;
  color: #800000;
  justify-content: center;
  font-size: 1.2em;
}

.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: -10px;
}

.saveMessage {
  position: absolute;
  top: 100%; 
  color: green;
  font-size: 1.3em;
  margin-top: 25px;
}

.modal.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  margin-top: 10%;
}

.dropdown-container {
  position: relative;
  width: 100%; // Breite des Dropdowns

  .dropdown-selected {
    padding: 7px;
    //border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
  }

  .dropdown-table {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;

    .table-container {
      padding: 10px;
    }
    
    th, td {
      text-align: center; // Zentriert den Text in den Zellen
      vertical-align: middle; // Zentriert den Text auch vertikal
      padding: 8px; // Optional: Abstand innerhalb der Zellen
    }
  
    th {
      font-weight: bold;
      background-color: #f4f4f4; // Optional: Hintergrundfarbe für die Kopfzeile
    }

    .clickable-row {
      cursor: pointer;
      text-align: center;
      &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
      }
    }
  }
}
