<div class="text-center">
    <h2>Messung #{{ curMessung!.id }}</h2>

    @if (messwerte().length < 1) {
        <p>Keine Messwerte vorhanden!</p>
    }
    @else {
        @for (messwert of messwerte(); track $index) {
            <p>-------- {{ $index }} --------</p>
            <p>Schenkel/Position: {{ messwert.sondenPosition!.schenkel }} / {{ messwert.sondenPosition!.position }}</p>
            <p>Wert: {{ messwert.wert }}</p>
            <p>Zeitpunkt: {{ messwert.zeitpunkt }}</p>
            <p></p>
        }
    }   
</div>