.clickable-row {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.scrollable-list {
    flex-grow: 1; 
    //max-height: 79%; 
    max-height: 60vh;
    min-height: 60vh;
    width: 100%; 
    overflow-y: auto; 
    margin-bottom: 20px; 

    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 5px;
}

.new-element-button {
    position: relative;
    margin-top: auto; 
    align-self: center; 
}

.new-coil-button {
    font-size: 1rem;
    padding: 0.9rem 1.8rem;
}

.disabled-button {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #6c757d;
    border-color: #6c757d;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 0px;
    overflow: hidden;
    text-align: left;

    th:first-child {
        border-top-left-radius: 5px; 
      }
      
      th:last-child {
        border-top-right-radius: 5px;
      }

    th, td {
        padding: 10px; 
        text-align: center;
        border: 1px solid #ddd; 
    }

    th {
        background-color: #ffffff; /* Hintergrund für die Kopfzeile */
        cursor: pointer;
    }

    tr:hover {
        background-color: #f1f1f1;
    }
}
