<div class="scrollable-list mt-5">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                @for (elementKey of elementKeys; track $index) {
                    @if (keysAsColumns[elementKey] !== undefined) {
                        <th (click)="sortTable(elementKey)">{{keysAsColumns[elementKey]}}</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @for (element of sortedElements; track $index) {
                <tr class="clickable-row" 
                (click)="onElementClick.emit(element)" 
                (mouseenter)="onElementHoverStart(element)"
                (mouseleave)="onElementHoverEnd(element)">
                    @for (elementKey of elementKeys; track $index) {
                        @if (keysAsColumns[elementKey] !== undefined) {
                            <td scope="row">{{ getElementValue(element, elementKey) }}</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="mt-5 ">
    @if(isSelector){
        <div class="d-flex justify-content-center gap-2">
            <button type="button"
                    class="btn btn-outline-secondary btn-modern"
                    id="back-button"
                    (click)="onCancelSelection()">
              Zurück
            </button>
            @if (showButton) {
              <button class="btn btn-primary btn-modern"
                      id="new-element-button"
                      [disabled]="isButtonDisabled()"
                      [class.disabled-button]="isButtonDisabled()"
                      (click)="addNewElement()">Erstellen</button>
            }
        </div>
    }

    @if (!isSelector && showButton) {
        <div class="text-center">
            <div class="text-center">
                <button class="btn btn-modern new-coil-button" 
                        id="new-element-button" 
                        [disabled]="isButtonDisabled()"
                        [class.btn-secondary]="isButtonDisabled()"
                        [class.btn-primary]="!isButtonDisabled()"
                        [class.disabled-button]="isButtonDisabled()"
                        (click)="addNewElement()">{{newElementButtonLabel}}</button>
            </div>
        </div>
    }
</div>


