:host, .time-slider, .timeline-svg {
	position: relative;
	z-index: 100; /* ensure slider is above underlying SVGs */
}
:host {
	display: block;
}

.timeline-svg {
	width: 100%;
	height: auto;
	display: block;
	touch-action: none; /* allow pointer events without browser gestures */
}

.time-selected {
	user-select: none;
}

.timeline-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timeline-actions__btns {
  display: flex;
  gap: 0.5rem;
}
