<div class="container">
  <h1>Berechnung von Abweichung</h1>
  <div class="input-container">
    <label for="branch-amount">Schenkelanzahl:</label>
    <input
      type="number"
      class="form-control inputField"
      id="branch-amount"
      placeholder="Schenkelanzahl"
      [(ngModel)]="displacementCalculation.branchAmount"
      min="1"
      (ngModelChange)="updateBranches()"
    />

    <label for="sensor-amount">Sondenanzahl:</label>
    <input
      type="number"
      class="form-control inputField"
      id="sensor-amount"
      placeholder="Sondenanzahl"
      [(ngModel)]="displacementCalculation.sensorAmount"
      min="1"
      (ngModelChange)="updateBranches()"
    />
  </div>
</div>

<!-- Display the branches and sensors -->
<div class="branches-container">
  <h2>Branches</h2>
  <div *ngFor="let branch of branches; let i = index; trackBy: trackByBranch" class="branch">
    <h3>Branch {{ i + 1 }}</h3>
    <div *ngFor="let sensor of branch.sensors; let j = index; trackBy: trackBySensor" class="sensor">
      <label for="sensor-{{i}}-{{j}}">Sensor {{ j + 1 }}:</label>
      <input
        type="text"
        class="form-control inputField"
        id="sensor-{{i}}-{{j}}"
        placeholder="Sensor {{ j + 1 }}"
        [(ngModel)]="branch.sensors[j]"
        (input)="onSensorInput(i, j, $event)"
        pattern="[0-9]*"
        inputmode="numeric"
      />
    </div>
  </div>
</div>

<!-- Display the calculated x and y values -->
<div class="results-container">
  <h2>Results</h2>
  <table>
    <thead>
    <tr>
      <th>Branch</th>
      <th>X Value</th>
      <th>Y Value</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of branchResults; let i = index">
      <td>Branch {{ i + 1 }}</td>
      <td>{{ result.x | number: '1.2-2' }}</td>
      <td>{{ result.y | number: '1.2-2' }}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Display the Final Vector -->
<div class="final-vector-container">
  <h2>Final Vector</h2>
  <p>X: {{ finalVector.x | number: '1.2-2' }}</p>
  <p>Y: {{ finalVector.y | number: '1.2-2' }}</p>
</div>

<!-- Visualization -->

<svg
  width="512"
  height="512"
  viewBox="0 0 24 24"
  fill="none"
>
  <g>
    <!-- Outline circle -->
    <circle cx="12" cy="12" r="10" fill="none" stroke="black" stroke-width="0.5" />

    <!-- Vectors -->
    @for (branch of branchResults; track $index) {
      <!-- TODO: The arrow should point towards the actual vector; currently the line goes to the vector, then the triangle goes beyond it -->
      <g 
        transform="translate(12, 12)"
        (mouseenter)="onArrowMouseEnter($index)" (mouseleave)="onArrowMouseLeave($index)"
      >
        <!-- Arrow body -->
        <line
          x1="0"
          y1="0"
          [attr.x2]="branch.x"
          [attr.y2]="branch.y"
          [attr.stroke]="getArrowColor($index)"
          [attr.stroke-width]="hoveredArrow === $index ? '0.5' : '0.25'"
          [attr.stroke-dasharray]="hoveredArrow === $index ? '0' : '0.25,0.25'"
        /> 

        <!-- Arrow triangle -->
        <polygon
          points="0.5,0 0,-0.25 0,0.25"
          [attr.fill]="getArrowColor($index)"
          [attr.transform]="'translate('+branch.x+', '+branch.y+') rotate('+(branch.angle * radToDeg)+') scale('+(hoveredArrow === $index ? '1.5' : '1')+')'"
          />

        <!-- Arrow hitbox -->
        <line
          x1="0"
          y1="0"
          [attr.x2]="branch.x"
          [attr.y2]="branch.y"
          stroke="transparent"
          stroke-width="0.5"
        /> 
      </g>
    }

    <!-- Result vector -->
    <g transform="translate(12, 12)">
      <line
        x1="0"
        y1="0"
        [attr.x2]="finalVector.x"
        [attr.y2]="finalVector.y"
        stroke="black"
        stroke-width="0.5"
      />

      <polygon
        points="1,0 0,-0.5 0,0.5"
        fill="black"
        [attr.transform]="'translate('+finalVector.x+', '+finalVector.y+') rotate('+(finalVector.angle * radToDeg)+')'"
        />
    </g>

    <!-- Center circle -->
    <circle cx="12" cy="12" r="0.5" fill="black" />
  </g>
</svg>