<div class="management-wrapper">
  <div class="container">
    <div class="management-row">
      <!-- Form column -->
      <div class="management-column management-column--form">
        <h2 class="mb-4 text-center">
          {{ measurementProbeTypesService.selectedElementIsNew ? 'Neuer Messsondentyp' : 'Messsondentyp bearbeiten' }}
        </h2>

        <app-probe-type-form></app-probe-type-form>
      </div>
      <!-- Visualization column -->
      <div class="management-column management-column--visualization">
        <app-probe-type-visualization
          [selectedProbeType]="selectedProbeType"
          [selectedProbeTypeId]="selectedProbeTypeId"
          [elements]="measurementProbeTypesService.elements"
          [isNew]="measurementProbeTypesService.selectedElementIsNew"
          (selectionChange)="onProbeTypeSelectionChange($event)"
        ></app-probe-type-visualization>
      </div>
    </div>
  </div>
</div>